<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.imaginationoverflow.myandroidautoapp">

<uses-permission android:name="android.permission.INTERNET" />


    <uses-permission android:name="android.car.permission.ACCESS_CAR_PROJECTION_STATUS"/>
    <uses-permission android:name="android.car.permission.CAR_CAMERA"/>
    <uses-permission android:name="android.car.permission.CAR_CONTROL_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.car.permission.CAR_CONTROL_AUDIO_VOLUME"/>
    <uses-permission android:name="android.car.permission.CAR_DIAGNOSTICS"/>
    <uses-permission android:name="android.car.permission.CAR_DISPLAY_IN_CLUSTER"/>
    <!-- use for CarServiceTest -->
    <uses-permission android:name="android.car.permission.CAR_DRIVING_STATE"/>
    <uses-permission android:name="android.car.permission.CAR_ENERGY"/>
    <!-- use for AndroidCarApiTest -->
    <uses-permission android:name="android.car.permission.CAR_INFO"/>
    <!-- use for AndroidCarApiTest -->
    <uses-permission android:name="android.car.permission.CAR_PROJECTION"/>
    <uses-permission android:name="android.car.permission.CAR_INSTRUMENT_CLUSTER_CONTROL"/>
    <uses-permission android:name="android.car.permission.CAR_MILEAGE"/>
    <uses-permission android:name="android.car.permission.CAR_MOCK_VEHICLE_HAL"/>
    <uses-permission android:name="android.car.permission.CAR_NAVIGATION_MANAGER"/>
    <!-- use for CarServiceTest -->
    <uses-permission android:name="android.car.permission.CAR_EXTERIOR_ENVIRONMENT"/>
    <uses-permission android:name="android.car.permission.CAR_POWER"/>
    <!-- use for CarServiceTest -->
    <uses-permission android:name="android.car.permission.CAR_POWERTRAIN"/>
    <uses-permission android:name="android.car.permission.CAR_SPEED"/>
     <!-- use for CarServiceTest -->
    <uses-permission android:name="android.car.permission.CAR_TEST_SERVICE"/>
    <!-- use for CarServiceTest -->
    <uses-permission android:name="android.car.permission.CAR_VENDOR_EXTENSION"/>
    <!-- use for CarServiceTest -->
    <uses-permission android:name="android.car.permission.CAR_UX_RESTRICTIONS_CONFIGURATION"/>
    <uses-permission android:name="android.car.permission.CONTROL_CAR_CLIMATE"/>
    <uses-permission android:name="android.car.permission.READ_CAR_STEERING"/>
    <uses-permission android:name="android.car.permission.STORAGE_MONITORING"/>
    <uses-permission android:name="android.car.permission.CAR_DYNAMICS_STATE"/>
    <!-- use for CarServiceTest -->
    <uses-permission android:name="android.car.permission.VMS_PUBLISHER"/>
    <!-- use for CarServiceTest -->
    <uses-permission android:name="android.car.permission.VMS_SUBSCRIBER"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_VOICE_INTERACTION_SERVICE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACTIVITY_EMBEDDING"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CONNECTIVITY_USE_RESTRICTED_NETWORKS"/>
    <uses-permission android:name="android.permission.INJECT_EVENTS"/>
    <!-- use for CarServiceUnitTest and CarServiceTest -->
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS"/>
    <!-- use for CarServiceUnitTest -->
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission android:name="android.permission.INTERNAL_SYSTEM_WINDOW"/>
    <uses-permission android:name="android.permission.LOCATION_HARDWARE"/>
    <uses-permission android:name="android.permission.MANAGE_USB"/>
    <uses-permission android:name="android.permission.MANAGE_USERS"/>
    <!-- use for CarServiceTest -->
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_ROUTING"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.MODIFY_DAY_NIGHT_MODE"/>
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE"/>
    <uses-permission android:name="android.permission.OVERRIDE_WIFI_CONFIG"/>
    <uses-permission android:name="android.permission.PROVIDE_TRUST_AGENT"/>
    <!-- Allow query of any normal app on the device in R+ -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.REAL_GET_TASKS"/>
    <uses-permission android:name="android.permission.REBOOT"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <!-- use for CarServiceTest -->
    <uses-permission android:name="android.permission.MONITOR_INPUT"/>
    <uses-permission android:name="android.permission.SET_ACTIVITY_WATCHER"/>
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <!-- use for vendor properties -->
    <uses-permission android:name="android.car.permission.CAR_VENDOR_EXTENSION" />
    <uses-permission android:name="android.car.permission.GET_CAR_VENDOR_CATEGORY_SEAT" />
    <uses-permission android:name="android.car.permission.GET_CAR_VENDOR_CATEGORY_INFO" />
    <uses-permission android:name="android.car.permission.SET_CAR_VENDOR_CATEGORY_INFO" />

    <uses-permission android:name="android.car.permission.CONTROL_CAR_FEATURES"/>

    <!-- use for rotary fragment to enable/disable packages related to rotary -->
    <uses-permission android:name="android.permission.CHANGE_COMPONENT_ENABLED_STATE"/>
	
    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyAndroidAutoApp"
        tools:replace="android:label"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    </application>

</manifest>